Application/Win32/
Application/x64/Debug/Application.Build.CppClean.log
Application/x64/Debug/
Engine/.vs/
Engine/Engine.sdf
Engine/Engine.VC.db
Application/Application.vcxproj.user
Application/Application.vcxproj.filters
Engine/Engine/x64/
Engine/x64/Debug/
Engine/Engine/Engine.vcxproj.user
Engine/Engine/Engine.vcxproj.filters
Engine/Engine.VC.VC.opendb
Application/.vs/
Dawn/.vs/
Dawn/bin-int/
Dawn/bin/
Dawn/Dawn/Dawn.vcxproj.user
Dawn/Dawn/Dawn.vcxproj.filters
Dawn/Dawn/Dawn.vcxproj
Dawn/Dawn.sln
Dawn/Sandbox/Sandbox.vcxproj.user
Dawn/Sandbox/Sandbox.vcxproj.filters
Dawn/Sandbox/Sandbox.vcxproj
