Application/Win32/
Application/x64/Debug/Application.Build.CppClean.log
Application/x64/Debug/
Engine/.vs/
Engine/Engine.sdf
Engine/Engine.VC.db
Application/Application.vcxproj.user
Application/Application.vcxproj.filters
Engine/Engine/x64/
Engine/x64/Debug/
Engine/Engine/Engine.vcxproj.user
Engine/Engine/Engine.vcxproj.filters
Engine/Engine.VC.VC.opendb
Application/.vs/
Dawn/.vs/
Dawn/bin-int/
Dawn/bin/
Dawn/Dawn/Dawn.vcxproj.user
Dawn/Dawn/Dawn.vcxproj.filters
Dawn/Dawn/Dawn.vcxproj
Dawn/Dawn.sln
Dawn/Sandbox/Sandbox.vcxproj.user
Dawn/Sandbox/Sandbox.vcxproj.filters
Dawn/Sandbox/Sandbox.vcxproj
Dawn/Dawn/vendor/DirectXTex/bin/
Dawn/Dawn/vendor/DirectXTex/bin-int/
Dawn/Dawn/vendor/brofiler/bin/
Dawn/Dawn/vendor/brofiler/bin-int/
Dawn/Dawn/vendor/TaskScheduler/Scheduler/bin/
Dawn/Dawn/vendor/TaskScheduler/Scheduler/bin-int/
Dawn/Dawn/vendor/brofiler/Brofiler.vcxproj.user
Dawn/Dawn/vendor/pugixml/bin/
Dawn/Dawn/vendor/pugixml/pugixml.vcxproj
Dawn/Dawn/vendor/pugixml/bin-int/
Dawn/Dawn/vendor/glad/bin/
Dawn/Dawn/vendor/glad/bin-int/
Dawn/Dawn/vendor/glad/glad.vcxproj.user
Dawn/Dawn/vendor/glad/glad.vcxproj.filters
Dawn/Dawn/vendor/glad/glad.vcxproj
Dawn/Sandbox/VTune Amplifier Results/
Dawn/.vscode/
