[submodule "Dawn/Dawn/vendor/spdlog"]
	path = Dawn/Dawn/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dawn/Dawn/vendor/imgui"]
	path = Dawn/Dawn/vendor/imgui
	url = https://github.com/TheCherno/imgui
